# log file path
log_file_path=./logs/sync_logs.json
max_log_file_size_mb=10
max_log_file_backups=2
max_log_file_age_days=7
log_console_output=true
log_file_output=false


test_sync.URL=http://demo.com/api/v1/test_sync
test_sync.USER=demo_user
test_sync.PASSWORD=demo_password

test_sync.db_type=mysql
test_sync.db_name=test_db
test_sync.db_url=username:password@tcp(127.0.0.1:3306)/${env.test_sync.db_name}?parseTime=true