# log file path
log_file_path=./logs/sync_logs.json
max_log_file_size_mb=10
max_log_file_backups=2
max_log_file_age_days=7

test_db_url=username:password@tcp(127.0.0.1:3306)/my_database?parseTime=true